includes:
    - vendor/phpstan/phpstan-strict-rules/rules.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon

parameters:
    level: 8
    parallel:
        maximumNumberOfProcesses: 4
        processTimeout: 300.0
        jobSize: 10
    paths:
        - src
        - tests
    excludePaths:
        - tests/Fixtures
    tmpDir: .phpstan.cache
    reportUnmatchedIgnoredErrors: true
    treatPhpDocTypesAsCertain: false
